@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@Title("Main page template")
@MasterPageFile("Master/Main.cshtml")

@helper DisplayContent()
{
    @* <h1>@GetValue("Title")</h1> *@
    <div class="dwcontent" id="content" title="Content"></div>
}

<div class="container">
    <div class="row">
        @if (string.IsNullOrEmpty(GetString("DwNavigation(navpills)")))
        {
            <div class="col-md-12">
                @DisplayContent()
            </div>
        }
        else
        {
            <div class="col-md-9 col-md-push-3">
                @DisplayContent()
            </div>
            <div class="col-md-3 col-md-9">
                <ul class="dwnavigation nav-stacked" id="navpills" data-settings="template:pills.xslt;startlevel:2;endlevel:2"></ul>
            </div>
        }
    </div>
</div>

