@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>@GetValue("Item.SystemName")</h1>

        @foreach (var group in GetLoop("Item.Groups"))
        {
            <fieldset>
                <legend>@group.GetValue("Item.Group.Name")</legend>

                <dl>
                    @foreach (var field in group.GetLoop("Item.Group.Fields"))
                    {
                        <dt>@field.GetValue("Item.Field.Name") (@field.GetValue("Item.Field.SystemName"))</dt>
                        <dd>@field.GetValue("Item.Field.Value")</dd>
                    }
                </dl>
            </fieldset>
        }
    </div>
</body>
</html>
