@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@{
    var errors = GetLoop("FormValidationErrors");
    if (errors.Count > 0)
    {
        <div class="alert alert-danger validation-errors">
            <p><strong>@Translate("Error_saving_profile", "Error saving profile")</strong></p>
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error.GetValue("UserManagement:User.FormValidationError.FieldNiceName"): @error.GetValue("UserManagement:User.FormValidationError.Message")</li>
                }
            </ul>
        </div>
    }
}

@GetValue("UserManagement:User.FormStart")
<div class="form-horizontal" role="form">
    <div class="form-group">
        <label for='@GetValue("UserManagement:User.Name.InputName")' class="col-sm-2 control-label">@Translate("Name", "Name")</label>
        <div class="col-sm-10">
            <input name="@GetValue("UserManagement:User.Name.InputName")" type="text" id="@GetValue("UserManagement:User.Name.InputName")" value="@GetValue("UserManagement:User.Name")" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for='@GetValue("UserManagement:User.UserName.InputName")' class="col-sm-2 control-label">@Translate("Username", "Username")</label>
        <div class="col-sm-10">
            <input name="@GetValue("UserManagement:UserName.Name.InputName")" type="text" id="@GetValue("UserManagement:UserName.Name.InputName")" value="@GetValue("UserManagement:User.UserName")" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for='@GetValue("UserManagement:User.Email.InputName")' class="col-sm-2 control-label">@Translate("Email", "Email")</label>
        <div class="col-sm-10">
            <input name="@GetValue("UserManagement:User.Email.InputName")" type="email" id="@GetValue("UserManagement:User.Email.InputName")" value="@GetValue("UserManagement:User.Email")" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for='@GetValue("UserManagement:User.Phone.InputPhone")' class="col-sm-2 control-label">@Translate("Phone", "Phone")</label>
        <div class="col-sm-10">
            <input name="@GetValue("UserManagement:User.Phone.InputPhone")" type="tel" id="@GetValue("UserManagement:User.Phone.InputPhone")" value="@GetValue("UserManagement:User.Phone")" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">@Translate("Profile_picture", "Profile picture")</label>
        <div class="col-sm-10">
            @if (string.IsNullOrWhiteSpace(GetString("UserManagement:User.Image.Clean")))
            {
                <input name="@GetValue("UserManagement:User.Image.UploaderName")" type="file" id="@GetValue("UserManagement:User.Image.UploaderName")" class="btn btn-default" />
            }
            else
            {
                <img style="margin-bottom:2px" src="@GetString("UserManagement:User.Image.Clean")" class="thumbnail" />
                <button type="button" class="btn btn-default" onclick="@GetString("UserManagement:User.Image.DeleteLink")">@Translate("Remove_profile_picture", "Remove profile picture")</button>
            }
        </div>
    </div>

    <div class="form-group">
        <label for='@GetValue("UserManagement:User.OldPassword.InputName")' class="col-sm-2 control-label">@Translate("Old_password", "Old password")</label>
        <div class="col-sm-2">
            <input name="UserManagement_Form_OldPassword" type="password" id="UserManagement_Form_OldPassword" autocomplete="off" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for='@GetValue("UserManagement:User.NewPassword.InputName")' class="col-sm-2 control-label">@Translate("New_password", "New password")</label>
        <div class="col-sm-2">
            <input name="UserManagement_Form_NewPassword" type="password" id="UserManagement_Form_NewPassword" autocomplete="off" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for='@GetValue("UserManagement:User.NewPasswordConfirm.InputName")' class="col-sm-2 control-label">@Translate("Confirm_password", "Confirm password")</label>
        <div class="col-sm-2">
            <input name="UserManagement_Form_NewPasswordConfirm" type="password" id="UserManagement_Form_NewPasswordConfirm" autocomplete="off" class="form-control" />
        </div>
    </div>

    @if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.ManageAddressesUrl")))
    {
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="@GetValue("UserManagement:User.ManageAddressesUrl")" class="btn btn-default">@Translate("Edit_addresses", "Edit addresses")</a>
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @if (!string.IsNullOrWhiteSpace(GetString("UserManagement:User.DetailUrl")))
            {
                <a href="@GetValue("UserManagement:User.DetailUrl")" class="btn btn-link">@Translate("Cancel", "Cancel")</a>
            }

            <button type="submit" class="btn btn-primary">@Translate("Update_profile", "Update profile")</button>
        </div>
    </div>
</div>
@GetValue("UserManagement:User.FormEnd")