@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>

@using Dynamicweb
@using Dynamicweb.Core
@using Dynamicweb.Frontend.Devices
@using System.Web

@{
    string pid = GetString("Ecom:CustomerCenter.PID");
    string pageId = GetGlobalValue("Global:Page.ID");
    string sortBy = HttpContext.Current.Request.QueryString.Get("CCOrderByField" + pid);
    string sortOrder = HttpContext.Current.Request.QueryString.Get("CCSortOrder" + pid);
    string sortSelected = "";
    int detailsPageID = GetPageIdByNavigationTag("OrderDetails");
    var detailsParagraph = Services.Paragraphs.GetParagraphsByPageId(detailsPageID).FirstOrDefault(paragraph => paragraph.ShowParagraph);
    string paragraphID = Converter.ToInt32(detailsParagraph == null ? 0 : detailsParagraph.ID).ToString();
}

@if (string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Orders.EmptyList")))
{
    <div class="grid__col-12 grid__col--bleed">
        <div class="grid__cell">
            <div class="u-pull--left">
                <h2><i class="fa fa-list"></i> @GetGlobalValue("Global:Page.Name")</h2>
            </div>
            <div class="u-pull--right">
                <a href="/Admin/Public/CustomerCenter/ExcelExport.aspx" class="btn btn--secondary dw-mod btn--condensed dw-mod"><i class="fa fa-download"></i></a>
                <label class="btn btn--secondary dw-mod btn--condensed" for="SearchFormTrigger"><i class="fa fa-search"></i></label>
            </div>
        </div>
    </div>

    <div class="grid__col-12 grid__col--bleed-y u-border-bottom">
        <input type="checkbox" id="SearchFormTrigger" class="expand-trigger" />

        <div class="expand-container dw-mod">
            <div class="expand-container__content dw-mod">
                 @GetString("Ecom:CustomerCenter.Search")
            </div>

            <label class="btn btn--secondary btn--full less dw-mod" for="SearchFormTrigger">@Translate("Close search") <i class="fa fa-caret-up"></i></label>
        </div>
    </div>

    foreach (LoopItem order in GetLoop("Orders"))
    {
        string orderId = order.GetString("Ecom:Order.ID");
        string printLink = order.GetString("Ecom:CustomerCenter.Orders.PrintOrderURL");

        <div class="grid__col-md-12 list-item">
            <div class="grid__cell list-item__wraper">
                <div class="list-item__column">
                    <div onclick="GetSelectedOrder('@orderId', '@printLink')" class="list-item__circle circle--centered-text"><span>@order.GetDate("Ecom:Order.Date").ToString("dd/MM yyyy")</span></div>
                    <div>
                        <div class="list-item__header">
                            <div onclick="GetSelectedOrder('@orderId', '@printLink')" class="list-item__name">@Translate("No.") @orderId</div>
                            <div class="list-item__state">@order.GetString("Ecom:Order:Orderstate.Name")</div>
                        </div>
                        <div><span class="list-item__parameter-label">@Translate("Payment"):</span> @order.GetString("Ecom:Order.PaymentMethod")</div>
                        <div><span class="list-item__parameter-label">@Translate("Shipping"):</span> @order.GetString("Ecom:Order.ShippingMethod")</div>
                        <div><span class="list-item__parameter-label">@Translate("Price"):</span> @order.GetString("Ecom:Order.OrderLines.Total.Price")</div>
                    </div>
                </div>
                <div class="list-item__actions">
                    <a href="javascript:;" class="list-item__action" onclick="GetSelectedOrder('@orderId', '@printLink')" title="@Translate("View order")">@Translate("View order")</a>
                    <a href="@printLink" class="list-item__action" target="_blank" title="@Translate("Print")">@Translate("Print")</a>
                    <a href="@order.GetString("Ecom:Order.ReorderID")" class="list-item__action" title="@Translate("Reorder")">@Translate("Reorder")</a>
                </div>
            </div>
        </div>
    }

    if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Orders.Paging.Show")))
    {
        <div class="u-pull--left">
            @Translate("Page") @GetString("Ecom:CustomerCenter.Paging.CurrentPage") @Translate("of") @GetString("Ecom:CustomerCenter.Paging.NumPages")
        </div>
        <div class="u-pull--right">
            <ul class="pager dw-mod">
                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Back.URL")))
                {
                    <li class="pager__btn dw-mod">
                        <a href="@GetString("Ecom:CustomerCenter.Paging.Back.URL")"><i class="fa fa-angle-left"></i></a> 
                    </li>  
                }

                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.HasPages")))
                {
                    foreach (LoopItem page in GetLoop("Ecom:CustomerCenter.Paging.Pages"))
                    {
                        string activeClass = page.GetString("Ecom:CustomerCenter.Paging.PageClass") == "currentPage" ? "pager__btn--current" : "";
                        <li class="pager__btn @activeClass dw-mod">
                            <a class="@page.GetString("Ecom:CustomerCenter.Paging.PageClass")" href="@page.GetString("Ecom:CustomerCenter.Paging.PageIndexUrl")">
                                @page.GetString("Ecom:CustomerCenter.Paging.PageIndex")
                            </a>                                                                
                        </li>
                    }                                                                                                                                                                                                           <text></text>
                }

                @if (!string.IsNullOrWhiteSpace(GetString("Ecom:CustomerCenter.Paging.Forward.URL")))
                {
                    <li class="pager__btn dw-mod">
                        <a href="@GetString("Ecom:CustomerCenter.Paging.Forward.URL")" class="pager--current dw-mod"><i class="fa fa-angle-right"></i></a>
                    </li>
                }
            </ul>
        </div>
    }
}
else
{
    <div class="grid__col-12 grid__col--bleed">
        <div class="grid__cell">
            <div class="u-pull--left">
                <h2><i class="fa fa-list"></i> @GetGlobalValue("Global:Page.Name")</h2>
                @Translate("No orders found", "No orders found")
            </div>
        </div>
    </div>
}

@* Escape the grid, container and section *@
</div>
</div>
</section>
</div>
@* ----------------------------------- *@

<!-- Trigger for the order modal -->
<input type="checkbox" id="order-modal-trigger" class="modal-trigger" />

<div class="modal-container">
    <label for="order-modal-trigger" id="order-modal-overlay" class="modal-overlay"></label>

    <div class="modal-tools">
        <a id="orderPrintBtn" href="#" target="_blank" class="btn btn--clean btn--condensed u-color-light"><i class="fa fa-print"></i></a>
        <a id="orderDownloadBtn" href="#" class="btn btn--clean btn--condensed u-color-light" download><i class="fa fa-download"></i></a>
    </div>
    <div class="modal modal--iframe modal--lg" id="order-modal">
        <iframe id="orderIframe" src="about:blank" onload="showIframe()"></iframe>
    </div>
</div>

@* Re-enter the grid, container and section *@
<div class="site-container dw-mod">
<section class="content-container page-container dw-mod">
<div class="grid">
<div class="grid grid--outer-bleed product">
@* ----------------------------------- *@


<script>
    function GetSelectedOrder(orderId, printLink) {
        window.scroll(0, 0);

        document.body.classList.add("u-overflow-hidden");

        document.getElementById("orderPrintBtn").setAttribute("href", printLink);
        document.getElementById("orderDownloadBtn").setAttribute("href", "/Default.aspx?ID=@detailsPageID&CC" + '@paragraphID' + "=Order&OrderID=" + orderId + "&pdf=true");

        document.getElementById("orderIframe").setAttribute("src", "/Default.aspx?ID=@detailsPageID&CC" + '@paragraphID' + "=Order&OrderID=" + orderId);
    }

    function showIframe() {
        if (document.getElementById('orderIframe').src != "about:blank") {
            document.getElementById("order-modal-trigger").checked = true;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("order-modal-overlay").addEventListener('click', function () {
            document.body.classList.remove("u-overflow-hidden");
        }, false);
    });
</script>